/* ====================================
// css variables
// ==================================== */

:root {
  --mauve: #d7a1fd;
  --vert: #98fb00;
  --beige: #f4ede8;
  --grey: #313131;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 428px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  margin-bottom: 60px;
}

.headerMauve {
  background-color: var(--mauve);
  padding: 20px;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

h1 .chiffretitle {
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  font-weight: 300;
}

.headerMauve p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: "Noto Serif", serif;
}

.headerBlack {
  display: flex;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Noto Serif", serif;
}

.headerBlack p {
  margin: 20px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 50px;
  font-family: "Noto Serif", serif;
}

.container {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.containerWhatson {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.programme {
  margin: 5px;
}

.imgWatson {
  border-bottom: solid 7px var(--mauve);
  width: 188px;
  height: 125px;
}

.containerDocu {
  border: 1px solid black;
  width: 190px;
  height: 170px;
}

.subtitle {
  text-align: center;
  margin: 10px;
  font-family: "Noto Serif", serif;
  font-weight: 300;
}

.titleFilm {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 10px;
}

.nametag {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  margin: 10px;
  font-family: "Noto Serif", serif;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  background-color: black;
  color: var(--mauve);
  padding: 20px;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 15px;
  line-height: 15px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.greenBlock {
  background-color: var(--vert);
  height: 190px;
  padding: 20px;
}

.quotes {
  width: 388px;
  height: 112px;
  left: 20px;
  top: 816px;
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 800;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.greenBlock .nametag {
  text-transform: uppercase;
}

.background {
  background-color: var(--beige);
  padding-top: 65px;
  padding: 20px;
}

.whatsNew {
  border-radius: 20px;
  background-color: white;
  width: 189px;
}

.background h2 {
  margin-top: 65px;
}

.whatsNew img {
  border-radius: 20px 20px 0px 0px;
}

.whatsNew p {
  padding: 20px;
}

.fondMauve {
  background-color: var(--mauve);
  padding: 20px;
  width: 428px;
  height: 90px;
  top: 1724px;
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.containerForLittleBlock {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.Opportunities {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.littleBlock {
  background-color: var(--vert);
  border: solid 1px black;
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  padding: 25px 10px 25px 10px;
  box-sizing: border-box;
  width: 214px;
  height: 112px;
  top: 1814px;
}

footer {
  background-color: black;
  color: var(--grey);
  text-transform: uppercase;
  padding-top: 25px;
}

footer h2 {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contact {
  margin-bottom: 112px;
}

h3 {
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.contact p {
  font-family: "Noto Serif";
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: white;
  text-align: center;
  margin: 20px;
}

footer h3 {
  color: white;
  font-family: "Nunito Sans";
}
